.fixed1 {
    pointer-events: none;
    position: fixed;
    left: 10px;
    bottom: 5px;
}

.fixed2 {
    transform: translateY(80vh);
    pointer-events: all;
    /*z-index: 1000;*/
    z-index: -8999;
    position: fixed;
    cursor: move;
}
.fullScr{
    z-index: 10;
    pointer-events: all;
    width: 150px;
    height: 150px;
    position: absolute;
}